.place__paragraphs {
  width: calc((100% - 40px)/2);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraphs {
    width: calc((100% - 32px)/2);
  }
}

@media screen and (max-width: 768px) {
  .place__paragraphs {
    width: calc((100% - 28px)/2);
  }
}

@media screen and (max-width: 630px) {
  .place__paragraphs {
    width: 90%;
    margin: 32px auto 0;
  }
}
