.lead__title {
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Inter-Bold,sans-serif;
  font-size: 6rem;
  line-height: 6.25rem;
  font-weight: 900;
}

@media screen and (max-width: 730px) {
  .lead__title {
    font-size: 3.5rem;
    line-height: 3.75rem;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 900;
  }
}
