.lead__title {
  max-width: 720px;
  max-height: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 6rem;
  line-height: 6.25rem;
  font-weight: 900;
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    font-weight: 400;
  }
}
