.intro {
  max-width: 77%;
  margin: 92px auto 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 92.5%;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin-top: 64px;
  }
}
