.cover__title {
  width: 47%;
  margin: 0 auto;
  z-index: 3;
  text-align: center;
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 900;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 80%;
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}